@keyframes fadeIn {
  0% {
    opacity: 0%;
  }

  100% {
    opacity: 100%;
  }
}

.appContainer {
  margin-top: 4vh;
  min-height: 96vh;
  width: 90vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: rgb(0, 0, 0);
  animation: fadeIn 0.5s;
}

.appBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.introMenu {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90vw;
  border-bottom: 2px solid white;
}

.introText {
  font-size: 4vmax;
  font-family: "Bangers", cursive;
  margin-top: 1vmax;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.226);
  padding: 0 1vmax;
  color: white;
  text-decoration: none;
}

.extLinks {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 1vmax;
  width: 25vw;
}

.linkedIn,
.email,
.phone {
  width: 3vmax;
  height: 3vmax;
  filter: invert(100%);
}

.email {
  background-color: transparent;
}

.gitHub {
  width: 3vmax;
  height: 3vmax;
}

.gitHub:hover {
  filter: invert(50%);
}

.mail {
  width: 4.5vmax;
  height: 2.5vmax;
  background-image: url("./assets/email.png");
  background-size: cover;
  cursor: pointer;
  filter: saturate(60%);
  transform: scale(-1, 1);
}

.mail:hover {
  filter: saturate(100%);
}

.linkedIn:hover {
  background-color: rgba(255, 255, 255, 0.349);
  filter: invert(60%);
}

.phone:hover {
  filter: invert(50%);
}

.email:hover {
  filter: invert(20%);
}

@media only screen and (min-device-width: 100px) and (max-device-width: 480px) and (orientation: portrait) {
  .appContainer {
    width: 80vw !important;
  }

  .introMenu {
    width: 80vw !important;
  }

  .extLinks {
    margin: 2vmax !important;
    width: 49vw !important;
  }
}

@media only screen and (min-device-width: 273px) and (max-device-width: 1024px) and (orientation: landscape) {
}
